.app {
  height: 100vh;
  background-image: linear-gradient(60deg, #202020, #1a1919);
}
.app .ui {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.app .ui h1 {
  color: #32658f;
  font-style: oblique;
  margin-top: 60px;
  margin-bottom: 20px;
}
.app .ui .p {
  width: 300px;

  color: #777;
  line-height: 4vh;
  font-weight: 600;
}
