.text-warning {
  color: rgb(219, 85, 75);
  font-size: 17px;
  font-weight: 700;
}
.inputForm {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
.sendBtn {
  background-color: #48a77b;
  border: none;
  width: 200px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition: 0.3s;
}
.sendBtn:hover {
  box-shadow: 0 0 7px 1px gray;
}
.Input {
  background-color: transparent;
  box-shadow: inset 0 0 5px 3px #32658f;
  color: #fff;
  border: none;
  height: 200px;
  width: 300px;
  max-height: 200px;
  max-width: 300px;
  outline: none;
  font-size: 23px;
  padding: 20px;
  padding-left: 20px;
  border-radius: 20px;
}
.Input:focus {
  outline: 1px solid #000;
}
.Input::placeholder {
  color: #48a77b;
}

@media (max-width: 450px) {
  .Input {
    width: 300px;
    font-size: 25px;
    padding: 20px;
    padding-left: 20px;
  }
  .app .ui .p {
    margin: 20px;
  }
}
