.messages {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.messages .cards h2 {
  color: #fff;
}
.messages .cards .card {
  border: 2px solid #48a77b;
  margin: 20px;
  width: 300px;
  background-color: transparent !important;
  box-shadow: 0 0 10px 1px #09406d65;
  color: #fff;
  max-height: 500px;
}
.messages .cards .card .card-body {
  color: #888;
}
.messages .cards .card .card-header {
  font-size: 20px;
}

.text-warning {
  color: rgb(219, 85, 75);
  font-size: 17px;
  font-weight: 700;
}
.passwordForm {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 60px;
}
.sendPassBtn {
  background-color: #48a77b;
  border: none;
  width: 200px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition: 0.3s;
}
.sendPassBtn:hover {
  box-shadow: 0 0 7px 1px gray;
}
.pass {
  background-color: transparent;
  box-shadow: inset 0 0 5px 3px #32658f;
  color: #fff;
  border: none;
  outline: none;
  font-size: 23px;
  padding: 20px;
  padding-left: 20px;
  border-radius: 20px;
}
.pass:focus {
  outline: 1px solid #000;
}
.pass::placeholder {
  color: #48a77b;
}

@media (max-width: 450px) {
  .pass {
    width: 280px;
    font-size: 25px;
    padding: 20px;
    padding-left: 20px;
  }
}
